body a, body a:visited {
  color: #0967D2;
  box-shadow: none;
}

body a:hover {
  color: #5CB70B;
  box-shadow: 0 2px 0 0 currentColor;
}

.line-numbers .line-numbers-rows {
  margin-top: 0.9rem;
  padding-left: 0.9rem;
}

.main-content ul {
  margin-left: 2rem;
}
