
body {
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v20H0V0zm10 17a7 7 0 1 0 0-14 7 7 0 0 0 0 14zm20 0a7 7 0 1 0 0-14 7 7 0 0 0 0 14zM10 37a7 7 0 1 0 0-14 7 7 0 0 0 0 14zm10-17h20v20H20V20zm10 17a7 7 0 1 0 0-14 7 7 0 0 0 0 14z' fill='%23eeeeee' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.line-numbers .line-numbers-rows {
  margin-top: 0.9rem;
  padding-left: 0.9rem;
}

.gatsby-highlight {
  margin-bottom: 2rem;
}

.gatsby-code-title {
  margin-bottom: -0.6rem;
  padding: 0.5em 1em;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  background-color: #333;
  color: silver;
  z-index: 0;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  border-bottom: 2px solid #000;
}

.gatsby-highlight-code-line {
  background-color: #363636;
  display: block;
  margin-right: -1em;
  margin-left: -1.25em;
  padding-right: 1em;
  padding-left: 0.75em;
  border-left: 0.5em solid #0967D2;
}

.main-content :not(pre) > code[class*="language-"], .main-content code[class="language-text"] {
  padding: 0.3em 0.6em;
}

.main-content :not(pre) > code[class*="language-"] {
  background-color: #333;
  color: silver;
}

.main-content p code[class*="language-"], .main-content li code[class*="language-"] {
  background-color: #E6F6FF;
  color: #01337D;
}
