body a, body a:visited {
  color: #0967D2;
  box-shadow: none;
}

body a:hover {
  color: #5CB70B;
  box-shadow: 0 2px 0 0 currentColor;
}

.line-numbers .line-numbers-rows {
  margin-top: 0.9rem;
  padding-left: 0.9rem;
}

.gatsby-highlight {
  margin-bottom: 2rem;
}

.gatsby-code-title {
  margin-bottom: -0.6rem;
  padding: 0.5em 1em;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  background-color: #333;
  color: silver;
  z-index: 0;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  border-bottom: 2px solid #000;
}

.main-content :not(pre) > code[class*="language-"], .main-content code[class="language-text"] {
  padding: 0.3em 0.6em;
}

.main-content :not(pre) > code[class*="language-"] {
  background-color: #333;
  color: silver;
}

.main-content ul {
  margin-left: 2rem;
}
